* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat',
        sans-serif;
    background-image: url(./img/header-bg.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    min-height: 150px;
    width: auto;
}

footer {
    min-height: 250px;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.itclublogo {
    border: 5px solid white;
    border-radius: 50%;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 5%),
        0 1px 5px rgb(0 0 0 / 7%),
        0 10px 20px rgb(0 0 0 / 7%);
}

.header-ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1rem;
}

.header-nav {
    padding-right: 35px;
    color: white;
}

.header-nav:hover {
    text-decoration: underline;
}

button {
    padding: 15px;
    border: 2px solid white;
    border-radius: 50%;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

.callbutton {
    color: white;

}

.callbutton:hover {
    text-decoration: underline;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.section-h1 {
    font-weight: 700;
    font-size: 3rem;
    width: 50vw;
    color: rgb(10, 5, 82);
}

.imgboy {
    width: 30vw;
    height: 40vh;
}

.section2-p {
    border: 3px solid blue;
    border-radius: 15px;
    padding: 20px;
    color: blue;
}

footer {

    padding: 10px;
    width: 100%;
    margin-top: auto;

}

.footer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-number {
    font-weight: 700;
    font-size: 3rem;
    color: black;
}

.footer-p {
    color: black;
}

.aboutus-main {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.aboutus-main-div {
    width: 45%;
    border: 5px solid rgb(218, 218, 218);
    border-radius: 20px;
    margin: 20px;
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
}


.aboutus-h1 {
    font-weight: 700;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.aboutus-p {
    color: white;
    padding: 10px;
}

.cources-main {
    margin: 20px auto;
}

.cources-h1 {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: white;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.cources-img {
    border: 10px solid rgb(4, 175, 255);
    width: 80vw;
    height: 50vw;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.cources-text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    border: 2px solid rgb(4, 175, 255);
    background-color: rgb(4, 175, 255);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.cource-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cource-h1 {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.cource-text {
    color: white;
    padding-left: 30px;
    font-size: 1rem;
    font-weight: 500;
}


.cource-a {
    color: rgb(16, 241, 16);
    font-size: 1rem;
    font-weight: 500;
    padding: 15px;
    border: 3px solid white;
    border-radius: 40%;
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.help-submitbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 0px;
}

.help-submitbtn:hover {
    opacity: 1;
}

.help-h1 {
    font-weight: 700;
    font-size: 3rem;
    color: white;
}

.error {
    color: red;
    size: 80%
}

.hidden {
    display: none;
}

.helpinput {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
}

.enrollment-input {
    width: 100%;
    padding: 15px;
    margin-top: 8px;
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .container {
        max-width: 780px;
    }

    .section-h1 {
        font-size: 2.1rem;
    }

    .aboutus-main-div {
        width: 700px;
    }

}

@media (max-width: 767px) {
    .container {
        max-width: 560px;
    }

    .section-h1 {
        font-size: 1.7rem;
    }

    .aboutus-h1 {
        font-size: 1.7rem;
    }

    .aboutus-main-div {
        width: 500px;
        margin: 5px;
    }

    .aboutus-p {
        font-size: 0.8rem;
    }

    a {
        font-size: 0.8rem;
    }

    .footer-number {
        font-size: 1.7rem;
    }
}

@media (max-width: 570px) {
    .container {
        max-width: 450px;
    }

    .section-h1 {
        font-size: 1.3rem;
    }

    a {
        font-size: 0.5rem;
    }

    .section2-p {
        font-size: 10px;
    }

    .footer-number {
        font-size: 1.3rem;
    }

    .aboutus-main-div {
        width: 300px;
        margin: 2px;
    }

    .aboutus-p {
        font-size: 0.5rem;
    }
}